.profile {
  margin: auto;
  width: 900px;
  background-image: url("images/sisi.JPG");
  background-color: #009999;
  background-repeat: no-repeat;
  Background-position: center;
  background-size: 710px 600px;  height: 600px;}.profile h1 {  color: white;
  font-size: 48px;
  font-weight: bold;
  position: relative;
  top: 140px;
  left: 120px;}

.profile p {
  color: white;
  font-size: 19px;
  position: relative;
  top: 20px;
  left: 120px;
}

.resume {
  margin: auto;
  width: 900px;
  background-color: #ffeff2;
}

.resume h3 {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.resume p {
  position: relative;
  top: 10px;
  left: 20px;
  color: #333333;
}

.resume li {
  position: relative;
  top: 10px;
  left: 20px;
  color: #333333;
}